<phpunit bootstrap="include/bootstrap.php"
         colors="true"
>
    <php>
        <env name="CONFIG" value="debian_jessie.conf"/>
    </php>
    <testsuites>
        <testuite name="setup">
            <file>setup/EasySCPSetupTest.php</file>
        </testuite>
        <testuite name="admin">
            <file>admin/EasySCPAdminGeneralInformationTest.php</file>
            <file>admin/EasySCPAdminManageUsersTest.php</file>
            <file>admin/EasySCPAdminSystemToolsCronTest.php</file>
            <file>admin/EasySCPAdminManageSSLTest.php</file>
        </testuite>
        <testuite name="reseller">
            <file>reseller/EasySCPResellerManageHostingPlanTest.php</file>
            <file>reseller/EasySCPResellerManageDomainTest.php</file>
            <file>reseller/EasySCPResellerManageAliasTest.php</file>
        </testuite>
        <testuite name="client">
            <file>client/EasySCPClientManageAliasTest.php</file>
            <file>client/EasySCPClientSubdomainTest.php</file>
            <file>client/EasySCPClientManageSSLTest.php</file>
        </testuite>
    </testsuites>
</phpunit>
